@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: #050505;
    color: #fafafa;
  }

  ::selection {
    background-color: #00FF94;
    color: #050505;
  }
}

@layer components {
  .container-main {
    @apply mx-auto w-full max-w-6xl px-5 sm:px-6;
  }
}
